<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>New article</title>
  </head>
  <body>

    <h1>Create a new Article</h1>

    <%= render 'article_error' %>
    <%= render 'form' %>
    
    <%= link_to 'Return', articles_path %>

  </body>
</html>