<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>signup</title>
  </head>
  <body>
    <h1 class="text-center mt-4 font-weight-bolder">Sign Up for Alpha Blog</h1>    
    <%= render 'form' %>        
  </body>
</html>